<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/glide.core.min.css">
    <link rel="stylesheet" href="/static/glide.min.js">
    <link rel="stylesheet" href="/static/glide.theme.min.css">
    <title>KorokNET</title>
</head>
<body>
    <h1>Профиль</h1>
    <a href="/create_request">Новая заявка</a> | <a href="/logout">Выход</a>

    <div class="glide">
        <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides">
                <li class="glide__slide"><img src="/static/img/komar2.jpg" ></li>
                <li class="glide__slide"> <img src="/static/img/komar3.jpg"> </li>
                <li class="glide__slide"> <img src="/static/img/komar4.jpg"> </li>
            </ul>
        </div> 
        <div class="glide__arrrows" data-glide-el="controls">
            <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><</button>
            <button class="glide__arrow glide__arrow--right" data-glide-dir=">">></button>
        </div>
    </div>

    {%for r in requests%}
    <div class="card">
        <p><strong>Курс: </strong> {{r.course_name}}</p><br>
        <p><strong>Дата старта: </strong> {{r.date_start}}</p><br>
        <p><strong>Способ оплаты: </strong> {{r.payment_method}}</p><br>
        <p><strong>Статус: </strong> {{r.status}}</p><br>
        {%if r.reveiw%}
        <p><strong>Отзыв: </strong> {{r.reveiw}}</p><br>
        {%endif%}
        
        {%if r.reveiw == null and r.status == 'Обучение завершено'%}
        <form action="/add_review" method="post" class="form-review">
            <input type="hidden" name="request_id" value="{{r.id}}" required>
            <textarea name="review" placeholder="Отзыв..." required></textarea><br>
            <button type="submit">Потвердить</button>
        </form>
        {%endif%}
    </div>
    {%endfor%}

    <script src="/static/glide.min.js"></script>
    <script>
        new Glide('.glide',{
            type:'carousel',
            autoplay:3000,
            perView: 1,
            loop: 1
        }).mount();
    </script>
</body>
</html>