<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>КорочкиЕсть</title>
</head>
<body>
    <h2>Новая заявка</h2>
    {%if error%}
    <p style="color:red">{{erorr}}</p>
    {% endif%}

    <form method="post">
        Курс:
        <select name="course" >
            {% for c in course%}
                <option value="{{c}}">{{c}}</option>t
            {% endfor%}
        </select><br>
        Дата начала: <input type="date" name="date" required> <br>
        Оплата:
        <select name="payment" >
            {% for p in payments%}
                <option value="{{p}}">{{p}}</option>t
            {% endfor%}
        </select><br>
        <button type="submit">Отправить заявку</button>
    </form>
    <a href="/profile">Назад</a>
</body>
</html>